@keyframes wave {
  0%   { transform: rotate(0deg); }
  20%  { transform: rotate(15deg); }
  40%  { transform: rotate(-10deg); }
  60%  { transform: rotate(15deg); }
  80%  { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

:root {
  --primary: #5C6BC0;
  --secondary: #FF6F61;
  --background: #F9F9F9;
  --card-bg: #F5F5F5;
  --text-main: #333333;
}

body {
  background-color: white;
  color: var(--text-main);
}

h1, h2, .card-title {
  color: var(--primary);
}

a {
  color: var(--secondary);
}

/* Intro */
.hand-wave {
  display: inline-block;
  transform-origin: bottom center ;
  animation: wave 1.5s ease-in-out 1;
}

.intro {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.lead {
  font-size: 20pt;
}

.blockquote {
  font-style: italic;
}

/* Card Styling */
.card {
  background-color: var(--card-bg);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.05);

}

.card-footer .badge {
  margin-right: 0.5rem;
}

.badge.bg-primary {
  background-color: var(--primary);
}

.badge.bg-success {
  background-color: #50E3C2 !important;
}

.badge.bg-secondary {
  background-color: var(--secondary) !important;
} 

.badge.bg-purple {
  background-color: #553C7B;
}