@keyframes wave {
  0%   { transform: rotate(0deg); }
  20%  { transform: rotate(15deg); }
  40%  { transform: rotate(-10deg); }
  60%  { transform: rotate(15deg); }
  80%  { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

:root {
  --primary: #5C6BC0;
  --secondary: #FF6F61;
  --background: #F9F9F9;
  --card-bg: #F5F5F5;
  --text-main: #333333;
  --accent: #50E3C2;
}

body {
  color: var(--text-main);
}

h1, h2, .card-title {
  color: var(--primary);
}

a {
  color: var(--secondary);
}

/* Intro */
.hand-wave {
  display: inline-block;
  transform-origin: bottom center ;
  animation: wave 1.5s ease-in-out 1;
}

.intro {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/* Card Styling */
.card {
  background-color: var(--card-bg);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
  border-radius: 1rem;

}

.card:hover {
  transform: translateY(-5px);
}

.card-footer .badge {
  margin-right: 0.5rem;
}

.badge.bg-primary {
  background-color: var(--primary);
}

.badge.bg-success {
  background-color: var(--accent) !important;
}

.badge.bg-secondary {
  background-color: var(--secondary) !important;
} 
