.react-calendar {
    width: 100%;
}

.react-calendar__navigation {
  display: flex;
  
  .react-calendar__navigation__label {
    font-weight: bold;
  }

  .react-calendar__navigation__arrow {
    flex-grow: 0.333;
  }
}

.react-candar__month-view__weekdays {
  text-align: center;
}

.booking-form button {
  margin: 3px;
  background-color: #E8EDF5;
  border: 0;
  border-radius: 3px;
  color: #252525;
  padding: 5px 0;

  &:hover {
    background-color: #3D99F5;
    color: white;
  }

  &:active {
    background-color: #97c7f8;
    color: white;
  }
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%; 

  .react-calendar__tile {
    max-width: initial !important;
  }
}

.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.3;
}

.react-calendar__tile--range {
  background-color: #3D99F5 !important;
  box-shadow: 0 0 2px 0.2px #97c7f8;
  color: white !important;
}

.react-calendar__year-view__months, 
.react-calendar__decade-view__years {
  display: grid !important; 
  grid-template-columns: 20% 20% 20% 20% 20%;

  &.react-calendar__year-view__months {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .react-calendar__tile {
    max-width: initial !important;
  }
}