html{
	height:100%;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1032%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(32%2c 32%2c 32%2c 1)'%3e%3c/rect%3e%3cpath d='M1401.989%2c773.675C1455.374%2c771.584%2c1498.89%2c734.455%2c1524.096%2c687.349C1547.796%2c643.057%2c1545.825%2c591.703%2c1523.415%2c546.745C1497.896%2c495.55%2c1459.179%2c443.593%2c1401.989%2c442.379C1343.422%2c441.136%2c1299.449%2c490.023%2c1271.295%2c541.394C1244.426%2c590.421%2c1234.694%2c648.886%2c1262.109%2c697.61C1290.003%2c747.186%2c1345.148%2c775.901%2c1401.989%2c773.675' fill='rgba(255%2c 255%2c 255%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1304.431%2c612.235C1358.073%2c613.353%2c1410.032%2c586.372%2c1435.679%2c539.245C1460.363%2c493.889%2c1448.469%2c439.935%2c1422.484%2c395.312C1396.699%2c351.032%2c1355.627%2c316.007%2c1304.431%2c313.859C1249.53%2c311.555%2c1194.53%2c336.577%2c1167.874%2c384.628C1141.871%2c431.502%2c1154.75%2c488.001%2c1182.327%2c533.966C1208.985%2c578.398%2c1252.626%2c611.156%2c1304.431%2c612.235' fill='rgba(255%2c 255%2c 255%2c 0.17)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1368.695%2c233.775C1386.176%2c234.824%2c1401.155%2c222.645%2c1410.15%2c207.62C1419.432%2c192.115%2c1424.454%2c172.323%2c1414.52%2c157.228C1405.185%2c143.044%2c1385.651%2c143.733%2c1368.695%2c144.628C1353.79%2c145.415%2c1337.989%2c148.722%2c1330.546%2c161.66C1323.118%2c174.572%2c1328.084%2c189.944%2c1335.049%2c203.111C1342.654%2c217.487%2c1352.46%2c232.8%2c1368.695%2c233.775' fill='rgba(255%2c 255%2c 255%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1007.104%2c136.551C1025.007%2c136.012%2c1039.93%2c123.871%2c1048.359%2c108.067C1056.278%2c93.219%2c1055.291%2c75.846%2c1047.414%2c60.976C1038.931%2c44.963%2c1025.187%2c31.365%2c1007.104%2c30.188C987.018%2c28.881%2c966.505%2c37.568%2c956.553%2c55.063C946.691%2c72.399%2c950.8%2c93.737%2c961.314%2c110.686C971.219%2c126.652%2c988.323%2c137.116%2c1007.104%2c136.551' fill='rgba(255%2c 255%2c 255%2c 0.17)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1056.19 541.54 a105.9 105.9 0 1 0 211.8 0 a105.9 105.9 0 1 0 -211.8 0z' fill='rgba(255%2c 255%2c 255%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M647.92 524.16 a154.7 154.7 0 1 0 309.4 0 a154.7 154.7 0 1 0 -309.4 0z' fill='rgba(255%2c 255%2c 255%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1199.977%2c366.457C1231.015%2c366.285%2c1262.691%2c355.336%2c1278.062%2c328.371C1293.314%2c301.616%2c1287.608%2c268.193%2c1270.644%2c242.489C1255.343%2c219.305%2c1227.751%2c210.518%2c1199.977%2c210.06C1171.177%2c209.585%2c1141.154%2c216.138%2c1125.157%2c240.091C1107.442%2c266.616%2c1104.13%2c301.796%2c1120.381%2c329.243C1136.374%2c356.254%2c1168.586%2c366.631%2c1199.977%2c366.457' fill='rgba(255%2c 255%2c 255%2c 0.17)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M813.577%2c439.501C834.106%2c438.55%2c850.302%2c422.897%2c859.084%2c404.317C866.664%2c388.28%2c862.525%2c370.264%2c853.525%2c354.979C844.687%2c339.969%2c830.992%2c327.388%2c813.577%2c327.026C795.606%2c326.652%2c780.468%2c338.202%2c770.642%2c353.254C759.582%2c370.196%2c751.109%2c390.789%2c760.126%2c408.902C769.932%2c428.6%2c791.597%2c440.52%2c813.577%2c439.501' fill='rgba(255%2c 255%2c 255%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M50.69 300.32 a128.43 128.43 0 1 0 256.86 0 a128.43 128.43 0 1 0 -256.86 0z' fill='rgba(255%2c 255%2c 255%2c 0.17)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M849.588%2c334.082C875.484%2c335.204%2c899.336%2c319.806%2c912.087%2c297.239C924.637%2c275.028%2c922.902%2c248.275%2c910.747%2c225.846C897.929%2c202.193%2c876.49%2c182.166%2c849.588%2c181.913C822.332%2c181.657%2c798.351%2c200.177%2c786.406%2c224.677C775.732%2c246.57%2c783.635%2c271.109%2c795.816%2c292.201C807.994%2c313.288%2c825.26%2c333.028%2c849.588%2c334.082' fill='rgba(255%2c 255%2c 255%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M308.87 469.81 a123.16 123.16 0 1 0 246.32 0 a123.16 123.16 0 1 0 -246.32 0z' fill='rgba(255%2c 255%2c 255%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1231.92 381.5 a145.72 145.72 0 1 0 291.44 0 a145.72 145.72 0 1 0 -291.44 0z' fill='rgba(255%2c 255%2c 255%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1032'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
	background-attachment: fixed;
	background-size: cover;
	/* background by SVGBackgrounds.com */
	color: white;
	font-family: Cascadia Code;
}

::-webkit-scrollbar{
	width:5.1px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
	background-color: #f1f1f1;
	border-radius: 5px;
}

header{
	padding-top: 20vh;
	font-size: 7vw;
	text-align: center;

	background-image: linear-gradient(90deg, #fcff9e 0%, #c67700 50%, #fcff9e 100%);
	background-size: 50% 10%;
	background-repeat: repeat;
	background-clip: text;
	-webkit-background-clip: text;
	color:transparent;
	animation: change 3s linear infinite;
}

nav{
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 3ch;
}

nav ul{
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

nav ul li{
	list-style: none;
	padding-left: 100px;
	padding-right: 100px;
}

nav ul li a{
	color: #fcff9e;
	transition: all 1s;
	text-decoration: none;
}

nav ul li a:hover{
	transition: all 250ms;
	color: #c67700;

}

main{
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 2.5%;
}

.intro{
	border-radius: 5px;
	background: #202020;
	box-shadow:  20px 20px 60px #1b1b1b, -20px -20px 60px #252525;
	background-color: rgb(32,32,32);
	background-color: rgba(32,32,32, 0.9); 
	color: white;
	border: 2px solid rgba(241, 241, 241,0.5);
	padding: 30px;
	margin-bottom: 5%;
}

.intro h1{
	text-align: center;
}

section{
	height: fit-content;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	padding-left: 10px;
	padding-right: 10px;

	background-color: rgb(32,32,32);
	background-color: rgba(32,32,32, 0.9); 
	overflow: hidden;
	border-radius: 10px;
	text-align: center;
}

section ul{
	padding-inline-start: 1.5em;
	text-align:left;	
}

section ul li{
	font-size: larger;
	list-style:circle;

	background-image: linear-gradient(0deg, #c67700 0%, #fcff9e 50%, #c67700 100%);
	background-attachment: fixed;
	background-size: 50% 100%;
	background-repeat: repeat;
	background-clip: text;
	-webkit-background-clip: text;
	color:transparent;

}

section ul li aside{
	font-size:small;
	float: right;
	padding-right: 10px;
}

section ul p{
	margin-block-start: 0;
	font-size: smaller;
}

footer{
	margin: -8px;
	padding: 5px;
	box-sizing: border-box;

	position: relative;
	background-color: #202020;
	width:100% + 8px;
}

.pdf{
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 4%;
	height: 100vh;
}

@media screen and (max-width:956px){
	.pdf{
		display:none;
	}
}

@media screen and (max-width:500px){
	main{
		padding-left: 20px;
		padding-right: 20px;

	}

	section{

	}
}

@keyframes change {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 50% 100%;

	}
	100% {
		background-position: 100% 150%;
	}
}
